<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>titulo</th>
      <th>ano_lancamento</th>
      <th>diretor</th>
      <th>genero</th>
      <th>duiracao</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>abcDamazonia</td>
      <td>2024-01-01</td>
      <td>teuzin</td>
      <td>acao</td>
      <td>1900-01-01 02:30:00</td>
    </tr>
    <tr>
      <th>1</th>
      <td>123patos</td>
      <td>2024-01-25</td>
      <td>teuzin</td>
      <td>acao</td>
      <td>1900-01-01 01:50:00</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Eta</td>
      <td>1994-05-05</td>
      <td>teuzin</td>
      <td>romance</td>
      <td>1900-01-01 02:30:00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>madureira</td>
      <td>1999-08-14</td>
      <td>Arlindo Cruz</td>
      <td>musical</td>
      <td>1900-01-01 01:00:00</td>
    </tr>
  </tbody>
</table>